.title {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  text-align: center;

  background-color: rgb(26, 77, 13);
}

.bigfatcat {
  width: 500px;
  position: center;
  display: block;
  margin: 0 auto;
}

body {
  background-color: rgba(0, 109, 18, 0.301);
}

.booody {
  text-align: center;
}
